.logo{
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.font{
    font-family: 'Comfortaa', sans-serif !important;
    font-weight: 1000;
    }

.navbar{
    background-color: #1da4118f;
    
}

#navbarNav{
    padding-left: 48%;
}

.scrollbar{
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }