<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
      <img class="logo" src="../assets/Kasieco-Light-Logo.png" alt="">
    </a>    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
     
      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a routerLink="/home" class="nav-link text-dark">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
            Home
          </a>
        </li>
        <li>
          <a routerLink="/products" class="nav-link text-dark">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
            Our Products
          </a>
        </li>
        <li>
          <a routerLink="/traders" class="nav-link text-dark">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
            Traders
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-dark">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24" routerLink="/"><use xlink:href="#grid"/></svg>
            Enquiries
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-dark" routerLink="/product-inventory">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
            Inventory
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-dark" routerLink="/profile">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
            MyAccount
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<hr>

<!-- <ul>
  <li *ngFor="let trader of traders" (click)="navigateToTraderDetails(trader.id)">
    {{ trader.fname }} - {{ trader.businessName }} - {{ trader.email }} - {{ trader.cell }}
  </li>
</ul> -->

<router-outlet></router-outlet>


<!-- <nav class="text-center">
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav> -->
<!-- <router-outlet></router-outlet><br> -->
<!-- <app-messages class="text-success"></app-messages> -->
