<!-- <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-4">
      
      <h5 class="text-body-emphasis h4">Profile</h5>
      <span class="text-body-secondary">Back</span>
    </div>



<h1>Profile</h1>
<img src="/assets/dp2.jpg" height="300px"  width="300px"  class="pimg">
<section id="welcome">

    <h2>Welder <img src="/assets/iconmonstr-construction-3.svg" height="30px" width="30px" class="cimg"></h2>
    <div>
    <a href="https://web.whatsapp.com/" target="_blank"><button class="button button1"><i class="fa fa-github"></i> WhatsApp</button></a>
    </div>
    <div>

        <h4>Welcome to my portfolio. This is where I showcase my welding work.</h4>
    </div> -->
          
    <!-- <div class="container" *ngIf="currentUser; else loggedOut">
      <h1 style="text-align: center;">Profile</h1>
      <div class="imgwrapper d-flex justify-content-center">
        <img src="{{currentUser.image}}" alt="profile" class="profile">
      </div>
    
      <header class="jumbotron">
        <h3 style="text-align:center">
          <strong>Hello {{ currentUser.fname }}</strong>
        </h3>
      </header>
      <br>
    
      <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
    
      <div>
        <button class="btn btn-primary">Update profile</button>
        <button class="btn btn-danger">Delete profile</button>
       Disable the Inventory button -->
        <!-- <button class="btn btn-secondary" disabled>
          <a href="#" class="nav-link text-dark" routerLink="/product-inventory">Inventory</a>
        </button>
      </div>
      <button (click)="logout()" class="btn btn-primary mt-3">Logout</button>
    </div>
    <ng-template #loggedOut>
      Please login or register.
    </ng-template> -->
    
    <!-- <a routerLink="/register" class="btn btn-primary mt-3">Register</a>
    <a routerLink="/login" class="btn btn-success mt-3">Login</a> -->
    
<div>
  <section class="vh-100" style="background-color: #9de2ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0">
                  <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                    alt="Generic placeholder image" class="img-fluid"
                    style="width: 180px; border-radius: 10px;"> -->
                    <img src="{{currentUser.image}}" alt="profile" class="img-fluid" >
                  </div>
                <div class="flex-grow-1 ms-3">
                  <strong>Hello {{ currentUser.fname }}</strong>
                  <p class="mb-2 pb-1" style="color: #2b2a2a;"><strong> {{ currentUser.businessName }}</strong></p>
                  <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                    style="background-color: #efefef;">
                    <p>
                      <strong>Email:</strong>
                      {{ currentUser.email }}
                    </p>
                    <!-- <div>
                      <p class="small text-muted mb-1">Articles</p>
                      <p class="mb-0">41</p>
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Followers</p>
                      <p class="mb-0">976</p>
                    </div>
                    <div>
                      <p class="small text-muted mb-1">Rating</p>
                      <p class="mb-0">8.5</p>
                    </div> -->
                  </div>
                  <div class="d-flex pt-1">
                    <button class="btn btn-primary">Update profile</button>
                    <button class="btn btn-danger">Delete profile</button>
                    <button (click)="logout()" class="btn btn-primary">Logout</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>