<!-- <div class="container">
    <section>
        <div class="main-image">
            <img src="{{trader.image}}" alt="" class="product">
        </div>
        <div class="content">



            <h4>
                {{product.fname}}
            </h4>
            <p class="description">
                {{product.description}}
            </p>
            <p class="description">
                {{product.createdBy}}
            </p>
            <h4>R
                {{product.price}}
            </h4>
       
        </div>
    </section>
</div> -->