<!-- <div class="container">
    <section>
        <div class="main-image">
            <img src="{{trader.image}}" alt="" class="product">
        </div> 
        <div class="content">



            <h4>
                {{trader.fname}}
            </h4>
            <p class="description">
                {{trader.businessName}}
            </p>
            <p class="description">
                {{trader.cell}}
            </p>
            <h4>R
                {{trader.email}}
            </h4>
       
        </div>
    </section>
</div> -->


<div *ngIf="trader">
    <h2>Trader Details</h2>
    <!-- <p>First Name: {{ trader.fname }}</p> -->
    <p>Last Name: {{ trader.cell }}</p>
    <!-- Other trader details -->
  </div>
  <div *ngIf="trader">
    <p>Loading trader details...</p>
  </div>

