<div class="container">
    <section>
        <div class="main-image">
            <img src="{{trader.image}}" alt="" class="product">
        </div>
        <div class="content">



            <h4>
                {{trader.fname}}
            </h4>
            <p class="description">
                {{trader.cell}}
            </p>
            <p class="description">
                {{trader.businessName}}
            </p>
            <h4>R
                {{trader.email}}
            </h4>
       
        </div>
    </section>
</div>