<!-- <h1 class="text-center text-success">Welcome to the Kasie-Eco Market Place </h1> -->
<div class="px-4 py-3 text-center">
    <img class="d-block mx-auto mb-4 landing" src="../../assets/kasi-e.png" alt="">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to the Kasie-Eco Market Place</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-justify">At Kasie-eCo, we bring together a diverse range of informally traded goods, providing a convenient and comprehensive one-stop shop for all your needs. Whether you're searching for unique handmade crafts, rare collectibles, traditional artifacts, or specialty items from around the world, Kasie-eCo has it all. Explore our virtual marketplace and unlock a world of hidden treasures!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/traders">Traders</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/products">Products</button>
      </div>
    </div>
  </div>