
  <div class="container-sm px-1 py-2 text-center">
    <h5 class="display-6 fw-medium text-success main-headings">Welcome to the Kasie-Eco Market Place</h5>
    <div class="row justify-content-center mt-4">
      <div class="col-lg-12">
        <p class="lead mb-2 text-justify">At Kasie-eCo, we bring together a diverse range of informally traded goods, providing a convenient and comprehensive one-stop shop for all your needs. Whether you're searching for unique handmade crafts, rare collectibles, traditional artifacts, or specialty items from around the world, Kasie-eCo has it all!</p>
        <br>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-success btn-sm px-4 gap-3" routerLink="/traders">OurTraders</button>
          <button type="button" class="btn btn-outline-warning btn-sm px-4" routerLink="/products">0ur Products</button>
        </div>
      </div>
    </div>
  </div>

  <main role="main">
    <!-- Marketing messaging and featurettes -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container marketing">
            <div class="d-flex justify-content-between row ">
              <hr class="text-success">    <h6 class="display-6 fw-bold text-center text-success main-headings">Some of our traders/service providers</h6>
              <hr>
              <div class="col-lg-4">
                <img class="rounded-circle" src="https://i.postimg.cc/QMLDQ8y3/bujahman.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Web Developer</h2>
                <p>Unlock the full potential of your online presence with our expert web development services! Our team of skilled developers is dedicated to creating visually stunning and highly functional websites tailored to your unique needs.
                   Whether you're a small business looking to establish your digital footprint or a thriving enterprise in need of a cutting-edge platform, we deliver innovative solutions that captivate audiences and drive results.
                   </p>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
              </div>
              <div class="col-lg-4">
                <img class="rounded-circle" src="https://i.postimg.cc/s1FzwT0X/yaya.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Craft Store Owner</h2>                
                <p>We create masterpieces, from stunning paintings and sculptures to intricately designed handmade jewelry and accessories. Discover a vibrant community of creators who pour their passion into every creation, making each piece a true work of art. Whether you're an avid collector or searching for the perfect gift, immerse yourself in the beauty of art and crafts with our diverse collection</p>

                
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
              </div>
              
              <div class="col-lg-4">
                <img class="rounded-circle" src="https://i.postimg.cc/1RYRTHNJ/liya.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Patio Furniture Manufacturer</h2>
                <p>Experience the perfect blend of style and comfort with our exquisite patio furniture collection! As a leading manufacturer, we specialize in crafting high-quality, durable pieces that transform any outdoor space into a cozy oasis
                  . From luxurious loungers to elegant dining sets, our furniture is meticulously designed to withstand the elements while adding a touch of sophistication to your patio.
                   </p>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
      