<div class="container">
    <em> <h3 class=" text-center text-success border-bottom">Product Detail</h3></em>

    <section >
      

        <ng-template #elseBlock>
            ...Loading
        </ng-template>

                <br>
         <div class="card  content">
            <div class="card-image">
             <img  src="{{product.image}}" alt="" class="product">
            </div>
             <br>
            <h5>
                <b> Product name: </b>  {{product.p_name}}
            </h5>
            <h5 class="description">
             <b> Category:</b> {{product.price}}
            </h5>
            <!-- <p class="description">
                {{product.createdBy}}
            </p> -->
            <h5>
              <b>Price:</b> {{product.description}}
            </h5>

            <button type="button" class="btn btn-primary btn-sm"><a href="#trader" target="_blank" rel="noopener noreferrer"></a>View Trader</button>

       
        </div>
          
        <div id="trader" class="container" *ngIf="product.createdBy; else elseBlock">
            <app-trader-detail [traderId]="product.createdBy"></app-trader-detail>
        </div>
    </section>
</div>